{% extends 'app/base.html' %}
{% load static %}
{% block title %}Mobile{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
<!--  <div class="col-sm-3">-->
<!--   <div class="list-group">-->
<!--     <a href="{% url 'mobile' %}" class="list-group-item list-group-item-action" aria-current="true">All Instruments</a>-->
<!--     <a href="{% url 'mobiledata' 'Redmi'  %}" class="list-group-item list-group-item-action" aria-current="true">tabla</a>-->
<!--     <a href="{% url 'mobiledata' 'Samsung'  %}" class="list-group-item list-group-item-action">Guitar</a>-->
<!--     <a href="{% url 'mobiledata' 'below'  %}" class="list-group-item list-group-item-action">Below 2500</a>-->
<!--     <a href="{% url 'mobiledata' 'above'  %}" class="list-group-item list-group-item-action">Above 5000</a>-->
<!--   </div>-->
<!--  </div>-->
  <div class="col-sm-8">
   <div class="row">
    {% for f in product1 %}
     <div class="col-sm-4 text-center mb-6">
      <a href="{% url 'product-detail' product.id %}" class="btn">
       <div class="item">
        <img src="{{product.product_image.url}}" alt="" height="300"  width="300" class="">
        <div class="fw-bold">{{f.title}}</div>
        <div class="fw-bold">Rs. {{f.discounted_price}} <small class="fw-light text-decoration-line-through">{{f.selling_price}}</small></div>
       </div>
      </a>
     </div>
    {% endfor %}
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}